<?xml version="1.0" ?>
<model>
    <name>Raspberry Pi Camera - Pinhole Model</name>
    <version>1.0</version>
    <sdf version="1.6">rpi_cam_pinhole.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description>
        Raspberry Pi camera, pinhole model
    </description>
</model>
